*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* ============================

            CUSTOM VARIABLES

=============================== */

:root {
    /**** colors ****/
    --pitch-black: #1C1C1C;
    --light-grey: #DFDDDD;
    /**** font ****/
    --h1-ff: normal 800 4.2rem/2.3rem 'Inter';
    --bt-ff: normal 700 1.4rem/2rem 'Inter';
    --placeholer-ff: normal 500 1.4rem/2rem 'Inter';
    --h3-ff: normal 500 1.8rem/2rem 'Inter';
    --p-ff: normal 400 1.4rem/2rem 'Inter';
}


/* ============================

            TYPOGRAPHY

=============================== */




/* ============================

            BUTTONS

=============================== */




/* ============================

            IMAGES

=============================== */




/* ============================

            LAYOUT

=============================== */





/* ============================

            MEDIA QUERIES

=============================== */