*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* ============================

            CUSTOM VARIABLES

=============================== */

:root {
    /**** colors ****/
    --pitch-black: #1C1C1C;
    --light-grey: #DFDDDD;
    /**** fonts ****/
    --h1-ff: normal 800 4.2rem/2.3rem 'Inter';
    --btn-ff: normal 700 1.4rem/2rem 'Inter';
    --placeholer-ff: normal 500 1.4rem/2rem 'Inter';
    --h3-ff: normal 500 1.8rem/2rem 'Inter';
    --p-ff: normal 400 1.4rem/2rem 'Inter';
    /**** shadows ****/
    --input-shadow: box-shadow: 0px .1rem .2rem 0px #0000000D;
}


/* ============================

            TYPOGRAPHY

=============================== */

h1 {
    font: var(--h1-ff);
    color: white;
}

.watchlist-search-btn {
    font: var(--btn-ff);
    font-weight: 400;
    color: white;
}

.search-input::placeholder {
    font: var(--placeholer-ff); 
    font-weight: 500;
    color: #6B7280;
}

.search-btn {
    font: var(--btn-ff);
    font-weight: 500;
    color: #374151;
}

.search-placeholder-content, 
.watchlist-placeholder-content p {
    font: var(--h3-ff);
    font-weight: 700;
    color: var(--light-grey);
}

.add-movie-btn {
    font: var(--btn-ff);
    color: #363636;
}

/* ============================

            BUTTONS

=============================== */

.watchlist-search-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.watchlist-search-btn:active{
    color: #adadad;
}

.search-btn {
    background-color: #F9FAFB;
    border: solid 1px #D1D5DB;
    border-radius: 0 .6rem .6rem 0;
    cursor: pointer;
    padding: .9rem 1.1rem .9rem 1.7rem;
    position: relative;
}

.search-btn:active{
    background-color: #f2f2f2;
}

.add-movie-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding-top: 1.5rem;
}

.add-movie-btn::before {
    content: url('images/add-icon.png');
    position: relative;
    margin-right: 0.5em;
    top: .4rem;
}


/* ============================

            INPUTS

=============================== */

.search-input {
    padding: .9rem 1.3rem .9rem 1.3rem;
    box-shadow: var(--input-shadow);
    border-radius: .6rem 0 0 .6rem;
    border: solid 1px #D1D5DB;
    width: 100%;
}

.search-input::placeholder::before {
    content: url("/images/search-icon.png");
}

/* ============================

            IMAGES

=============================== */




/* ============================

            LAYOUT

=============================== */

body {
    background-color: var(--pitch-black);
    height: 100vh;
    padding: 0 2rem;
}

main {
    margin: 5rem auto;
    max-width: 80rem;
    background-color: white;
    min-height: 80rem;
}

main > * {
    padding: 0 4.4rem;
}

header {
    min-height: 20.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(/images/header.png);
}

.search-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4.4rem;
    margin-top: -2rem;

}

.film-list-wrapper {
    margin: 0 auto;
    height: 50rem;
}

.search-placeholder-content,
.watchlist-placeholder-content {
    text-align: center;
    height: 100%;
    position: relative;
    top: 15rem;
}


/* ============================

            MEDIA QUERIES

=============================== */