*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* ============================

            CUSTOM VARIABLES

=============================== */

:root {
    /**** colors ****/
    --grey: ;
    /**** font ****/
    --h1-ff: ;
    --shadow: ;
}


/* ============================

            TYPOGRAPHY

=============================== */


/* ============================

            BUTTONS

=============================== */


/* ============================

            IMAGES

=============================== */


/* ============================

            LAYOUT

=============================== */



/* ============================

            MEDIA QUERIES

=============================== */