*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* ============================

            CUSTOM VARIABLES

=============================== */

:root {
    /**** colors ****/
    --pitch-black: #1C1C1C;
    --light-grey: #DFDDDD;
    /**** fonts ****/
    --h1-ff: normal 800 4.2rem/2.3rem 'Inter';
    --btn-ff: normal 700 1.4rem/2rem 'Inter';
    --placeholer-ff: normal 500 1.4rem/2rem 'Inter';
    --h3-ff: normal 500 1.8rem/2rem 'Inter';
    --p-ff: normal 400 1.4rem/2rem 'Inter';
    /**** shadows ****/
    --input-shadow: box-shadow: 0px .1rem .2rem 0px #0000000D;
}


/* ============================

            TYPOGRAPHY

=============================== */

h1 {
    font: var(--h1-ff);
    color: white;
}

.watchlist-search-btn {
    font: var(--btn-ff);
    font-weight: 400;
    color: white;
}

.search-input::placeholder {
    font: var(--placeholer-ff); 
    font-weight: 500;
    color: #6B7280;
}

.search-btn {
    font: var(--btn-ff);
    font-weight: 500;
    color: #374151;
}

.placeholder-content p {
    font: var(--p-ff);
    color: var(--light-grey);
}


/* ============================

            BUTTONS

=============================== */

.watchlist-search-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.search-btn {
    background-color: #F9FAFB;
    border: solid 1px #D1D5DB;
    border-radius: 0 .6rem .6rem 0;
    cursor: pointer;
    padding: .9rem 1.1rem .9rem 1.7rem;
    position: relative;
    
}


/* ============================

            INPUTS

=============================== */

.search-input {
    padding: .9rem 1.3rem .9rem 1.3rem;
    box-shadow: var(--input-shadow);
    border-radius: .6rem 0 0 .6rem;
    border: solid 1px #D1D5DB;
    width: 100%;
}

.search-input::placeholder::after {
    content: url("/images/search-icon.svg");
}

/* ============================

            IMAGES

=============================== */




/* ============================

            LAYOUT

=============================== */

body {
    background-color: var(--pitch-black);
    height: 100vh;
    padding: 0 2rem;
}

main {
    margin: 5rem auto;
    max-width: 80rem;
    background-color: white;
    /* height: 100vh; */
    min-height: 80rem;
    
}

main > * {
    padding: 0 4.4rem;
}

header {
    min-height: 20.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(/images/header.png);
}

.search-wrapper {
    display: flex;
    justify-content: space-between;
}



/* ============================

            MEDIA QUERIES

=============================== */